create database [QUANLYTHUVIEN]
go
USE [QUANLYTHUVIEN]
GO
/****** Object:  Table [dbo].[CHITIETMUONTRA]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONTRA](
	[IDCHITIETMUON] [int] IDENTITY(1,1) NOT NULL,
	[IDMUON] [int] NOT NULL,
	[IDSACH] [int] NOT NULL,
	[IDTHUTHUCHOMUON] [int] NOT NULL,
	[IDTHUTHUNHANTRA] [int] NULL,
	[SOLUONGMUON] [int] NOT NULL,
	[NGAYMUON] [date] NOT NULL,
	[HANTRA] [date] NULL,
	[TIENTHECHAN] [float] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHITIETMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[IDMASOTHE] [int] IDENTITY(2000,1) NOT NULL,
	[NGAYLAP] [date] NULL,
	[HANSUDUNG] [date] NULL,
	[IDDONVI] [int] NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SODT] [nchar](20) NULL,
	[CMND] [nchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[HINHANH] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMASOTHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MAMANHINH] [int] IDENTITY(1,1) NOT NULL,
	[TENMANHINH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUONTRASACH]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONTRASACH](
	[IDMUON] [int] IDENTITY(1,1) NOT NULL,
	[IDMATHEDOCGIA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SODT] [nchar](20) NULL,
	[CMND] [nchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](50) NOT NULL,
	[SODT] [varchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[WEBSITE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAMANHINH] [int] NOT NULL,
	[MACHUCVU] [int] NOT NULL,
	[COQUYEN] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMANHINH] ASC,
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUPHAT]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUPHAT](
	[IDPHIEU] [int] IDENTITY(1,1) NOT NULL,
	[IDCHITIETMUON] [int] NOT NULL,
	[IDTHUTHULAPPHIEU] [int] NOT NULL,
	[NGAYLAPPHIEU] [date] NOT NULL,
	[SONGAYQUAHAN] [int] NOT NULL,
	[TIENPHAT] [float] NOT NULL,
	[GHICHUPHAT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SACH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENSACH] [nvarchar](50) NOT NULL,
	[IDNXB] [int] NOT NULL,
	[NAMXB] [int] NOT NULL,
	[IDTHELOAI] [int] NOT NULL,
	[IDTACGIA] [int] NOT NULL,
	[GIA] [float] NOT NULL,
	[SOLUONGSACH] [int] NOT NULL,
	[VITRISACH] [nvarchar](20) NULL,
	[HINHSACH] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BUTDANH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[EMAIL] [nvarchar](50) NOT NULL,
	[MATKHAU] [nchar](50) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[CHUCVU] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTHELOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRA] ON 

INSERT [dbo].[CHITIETMUONTRA] ([IDCHITIETMUON], [IDMUON], [IDSACH], [IDTHUTHUCHOMUON], [IDTHUTHUNHANTRA], [SOLUONGMUON], [NGAYMUON], [HANTRA], [TIENTHECHAN], [TINHTRANG]) VALUES (12, 12, 2, 2, 2, 1, CAST(N'2022-06-11' AS Date), CAST(N'2022-07-11' AS Date), 70000, 1)
INSERT [dbo].[CHITIETMUONTRA] ([IDCHITIETMUON], [IDMUON], [IDSACH], [IDTHUTHUCHOMUON], [IDTHUTHUNHANTRA], [SOLUONGMUON], [NGAYMUON], [HANTRA], [TIENTHECHAN], [TINHTRANG]) VALUES (13, 13, 1, 2, 2, 1, CAST(N'2022-06-11' AS Date), CAST(N'2022-07-11' AS Date), 51000, 1)
INSERT [dbo].[CHITIETMUONTRA] ([IDCHITIETMUON], [IDMUON], [IDSACH], [IDTHUTHUCHOMUON], [IDTHUTHUNHANTRA], [SOLUONGMUON], [NGAYMUON], [HANTRA], [TIENTHECHAN], [TINHTRANG]) VALUES (14, 14, 4, 2, 2, 1, CAST(N'2022-06-11' AS Date), CAST(N'2022-07-11' AS Date), 145000, 1)
SET IDENTITY_INSERT [dbo].[CHITIETMUONTRA] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([ID], [TENCHUCVU]) VALUES (1, N'Quản Lý')
INSERT [dbo].[CHUCVU] ([ID], [TENCHUCVU]) VALUES (2, N'Thủ Thư')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[DOCGIA] ON 

INSERT [dbo].[DOCGIA] ([IDMASOTHE], [NGAYLAP], [HANSUDUNG], [IDDONVI], [HOTEN], [NGAYSINH], [GIOITINH], [EMAIL], [SODT], [CMND], [DIACHI], [HINHANH]) VALUES (2000, CAST(N'2021-05-01' AS Date), CAST(N'2023-01-01' AS Date), 1, N'Lâm Chí Khang', CAST(N'2001-01-27' AS Date), 1, N'lamchikhang.it@gmail.com', N'0342468501          ', N'366313530           ', N'Bình Tân, TPHCM', N'                                                                                                    ')
INSERT [dbo].[DOCGIA] ([IDMASOTHE], [NGAYLAP], [HANSUDUNG], [IDDONVI], [HOTEN], [NGAYSINH], [GIOITINH], [EMAIL], [SODT], [CMND], [DIACHI], [HINHANH]) VALUES (2001, CAST(N'2022-05-03' AS Date), CAST(N'2023-05-03' AS Date), 2, N'Nguyễn Văn A', CAST(N'2021-01-27' AS Date), 1, N'nguyenvana@gmail.com', N'0348675678          ', N'967465837           ', N'TPHCM', NULL)
SET IDENTITY_INSERT [dbo].[DOCGIA] OFF
SET IDENTITY_INSERT [dbo].[DONVI] ON 

INSERT [dbo].[DONVI] ([ID], [TENDONVI]) VALUES (1, N'Trong Trường')
INSERT [dbo].[DONVI] ([ID], [TENDONVI]) VALUES (2, N'Ngoài Trường')
SET IDENTITY_INSERT [dbo].[DONVI] OFF
SET IDENTITY_INSERT [dbo].[MUONTRASACH] ON 

INSERT [dbo].[MUONTRASACH] ([IDMUON], [IDMATHEDOCGIA]) VALUES (12, 2000)
INSERT [dbo].[MUONTRASACH] ([IDMUON], [IDMATHEDOCGIA]) VALUES (13, 2000)
INSERT [dbo].[MUONTRASACH] ([IDMUON], [IDMATHEDOCGIA]) VALUES (14, 2000)
SET IDENTITY_INSERT [dbo].[MUONTRASACH] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [NGAYSINH], [GIOITINH], [EMAIL], [SODT], [CMND], [DIACHI], [NGAYVAOLAM]) VALUES (1, N'Khang Lâm', CAST(N'2001-01-27' AS Date), 1, N'admin@gmail.com', N'0342468501          ', N'366313530           ', N'Bình Tân, TP.HCM', CAST(N'2022-04-30' AS Date))
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [NGAYSINH], [GIOITINH], [EMAIL], [SODT], [CMND], [DIACHI], [NGAYVAOLAM]) VALUES (2, N'Lâm Chí Khang', CAST(N'2001-01-27' AS Date), 1, N'lamchikhang.it@gmail.com', N'0342468501          ', N'366313530           ', N'Bình Tân, TP.HCM', CAST(N'2022-04-30' AS Date))
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [NGAYSINH], [GIOITINH], [EMAIL], [SODT], [CMND], [DIACHI], [NGAYVAOLAM]) VALUES (3, N'nguyễn văn c', CAST(N'2001-01-08' AS Date), 1, N'aaaa@gmail.com', N'743646436           ', N'75756565575         ', N'', CAST(N'2021-01-27' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([ID], [TENNXB], [SODT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (1, N'NXB Kim Đồng', N'1900571595', N'Ba Đình-Hà Nội', N'nxbkimdong@gmail.com', N'www.nxbkimdong.vn')
INSERT [dbo].[NHAXUATBAN] ([ID], [TENNXB], [SODT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (2, N'NXB Giáo dục', N'02439422010', N'Ba Đình-Hà Nội', N'nxbgd@gmail.com', N'www.nxbgd.vn')
INSERT [dbo].[NHAXUATBAN] ([ID], [TENNXB], [SODT], [DIACHI], [EMAIL], [WEBSITE]) VALUES (3, N'NXB Tuổi trẻ', N'8438437450', N'Quận 3, TP. Hồ Chí Minh', N'nxbtre@gmail.com', N'www.nxbtre.com.vn')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([ID], [TENSACH], [IDNXB], [NAMXB], [IDTHELOAI], [IDTACGIA], [GIA], [SOLUONGSACH], [VITRISACH], [HINHSACH]) VALUES (1, N'Đắc Nhân Tâm', 1, 1936, 1, 1, 51000, 11, N'Kệ 1', N'1.jpg')
INSERT [dbo].[SACH] ([ID], [TENSACH], [IDNXB], [NAMXB], [IDTHELOAI], [IDTACGIA], [GIA], [SOLUONGSACH], [VITRISACH], [HINHSACH]) VALUES (2, N'Nghệ Thuật Bài Trí Của Người Nhật', 2, 1984, 2, 2, 70000, 11, N'Kệ 2', N'3.jpg')
INSERT [dbo].[SACH] ([ID], [TENSACH], [IDNXB], [NAMXB], [IDTHELOAI], [IDTACGIA], [GIA], [SOLUONGSACH], [VITRISACH], [HINHSACH]) VALUES (4, N'Những Kẻ Xuất Chúng', 1, 1982, 1, 1, 145000, 17, N'Kệ 4', N'8.jpg')
SET IDENTITY_INSERT [dbo].[SACH] OFF
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([ID], [BUTDANH]) VALUES (1, N'Nguyễn Hiến Lê')
INSERT [dbo].[TACGIA] ([ID], [BUTDANH]) VALUES (2, N'Nguyễn Bá Tưởng')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [TRANGTHAI], [CHUCVU]) VALUES (N'aaaa@gmail.com', N'aaaa@gmail.com                                    ', 1, 2)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [TRANGTHAI], [CHUCVU]) VALUES (N'admin@gmail.com', N'admin@gmail.com                                   ', 1, 1)
INSERT [dbo].[TAIKHOAN] ([EMAIL], [MATKHAU], [TRANGTHAI], [CHUCVU]) VALUES (N'lamchikhang.it@gmail.com', N'lamchikhang.it@gmail.com                          ', 1, 2)
SET IDENTITY_INSERT [dbo].[THELOAI] ON 

INSERT [dbo].[THELOAI] ([ID], [TENTHELOAI]) VALUES (1, N'Phát Triển Bản Thân')
INSERT [dbo].[THELOAI] ([ID], [TENTHELOAI]) VALUES (2, N'Khởi Nghiệp')
SET IDENTITY_INSERT [dbo].[THELOAI] OFF
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD FOREIGN KEY([IDMUON])
REFERENCES [dbo].[MUONTRASACH] ([IDMUON])
GO
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD FOREIGN KEY([IDSACH])
REFERENCES [dbo].[SACH] ([ID])
GO
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD FOREIGN KEY([IDTHUTHUCHOMUON])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[CHITIETMUONTRA]  WITH CHECK ADD FOREIGN KEY([IDTHUTHUNHANTRA])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD FOREIGN KEY([IDDONVI])
REFERENCES [dbo].[DONVI] ([ID])
GO
ALTER TABLE [dbo].[MUONTRASACH]  WITH CHECK ADD FOREIGN KEY([IDMATHEDOCGIA])
REFERENCES [dbo].[DOCGIA] ([IDMASOTHE])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([ID])
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[PHIEUPHAT]  WITH CHECK ADD FOREIGN KEY([IDCHITIETMUON])
REFERENCES [dbo].[CHITIETMUONTRA] ([IDCHITIETMUON])
GO
ALTER TABLE [dbo].[PHIEUPHAT]  WITH CHECK ADD FOREIGN KEY([IDTHUTHULAPPHIEU])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([IDNXB])
REFERENCES [dbo].[NHAXUATBAN] ([ID])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([IDTACGIA])
REFERENCES [dbo].[TACGIA] ([ID])
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD FOREIGN KEY([IDTHELOAI])
REFERENCES [dbo].[THELOAI] ([ID])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[CHUCVU] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[timSachTheoTen]    Script Date: 6/12/2022 11:26:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[timSachTheoTen](@tenSach nvarchar(50))
AS 
BEGIN
     SELECT * 
     FROM dbo.SACH
	 WHERE TENSACH LIKE '%' + @tenSach + '%'
END;

GO
